$color-brown: #31280a;
$color-orange: rgb(255, 166, 0);

$color-block-gray: gray;
$color-background-gray: rgb(100,100,100);

$color-csharp: #67217a;
$color-wpf: #00aad4;
$color-corewebapi: #6643a0;
$color-coremvc: #6643a0;
$color-python: #366d9d;
$color-mongodb: #259445;
$color-sql: #0076d0;
$color-mssqlserver: #a01e2c;

