footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba($color: black, $alpha: 0.8);
    text-align: center;
    color: gray;
    padding: 10px;
}