$img-height: 100px;
$img-width: 150px;
$img-radius: 30px 0px 30px 0px;
$section-radius: 30px 30px 0px 0px;

$body-width: 60%;

$field-padding: 1rem;
$field-margin: 1rem;

$min-width: 400px;
$max-media-width: 1300px;

$min-right-col-width: 275px;