nav {
    overflow: hidden;
    background-color: rgba($color: black, $alpha: 0.75);
    color: gray;
    margin: 0px;
    padding: 20px 40px 20px 40px;
    min-width: $min-width + 40px;
    height: 20px;
    border-radius: 20px;
}

nav a {
    float: left;
    display: block;
    line-height: 1px;
    padding: 0px 30px 0px 0px;
}