@import './colors.scss';

.skill-container {
    width: 100%;
    //background-color: rgba($color-gray, 0.7);
}

.skill {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color-brown;
    border-width: 1px;
    border-style: solid;
}

.csharp {
    width: 80%;
    background-color: $color-csharp;
}

.core-web-api {
    width: 60%;
    background-color: $color-corewebapi;
}

.wpf {
    width: 70%;
    background-color: $color-wpf;
}

.python {
    width: 60%;
    background-color: $color-python;
}

.mongodb {
    width: 50%;
    background-color: $color-mongodb;
}

.sql {
    width: 40%;
    background-color: $color-sql;    
}

